details.meanings summary {
	display: flex;
	justify-content: center;
	font-weight: bold;
	align-items: baseline;
}

details.meanings div {
	display: flex;
	justify-content: center;
}

div.meanings {
	display: flex;
	justify-content: center;
}
